%section.fdb-block.pt-1
  .container
    .row.text-center.justify-content-center.mt-5
      .col-12.col-md-4
        = image_tag asset_url('4.jpg'), class: 'img-fluid'
        %h3
          %strong Feature One
      .col-12.col-md-4.pt-3.pt-sm-4.pt-md-0
        = image_tag asset_url('10.jpg'), class: 'img-fluid'
        %h3
          %strong Feature Two
      .col-12.col-md-4.pt-3.pt-sm-4.pt-md-0
        = image_tag asset_url('11.jpg'), class: 'img-fluid'
        %h3
          %strong Feature Three

    .row.text-center.justify-content-center.pt-3.pt-sm-4.pt-md-5
      .col-12.col-md-4
        = image_tag asset_url('12.jpg'), class: 'img-fluid'
        %h3
          %strong Feature Four

      .col-12.col-md-4.pt-3.pt-sm-4.pt-md-0
        = image_tag asset_url('13.jpg'), class: 'img-fluid'
        %h3
          %strong Feature Five

      .col-12.col-md-4.pt-3.pt-sm-4.pt-md-0
        = image_tag asset_url('14.jpg'), class: 'img-fluid'
        %h3
          %strong Feature Six
