#blogCarousel.carousel.slide.mb-5{"data-ride" => "carousel"}
  .carousel-inner
    .carousel-item.active
      .row.text-center.justify-content-center.mt-5
        .col-md-2.col-sm-5
          = image_tag asset_url('5.jpg'), class: 'img-fluid'
        .col-md-2.col-sm-5.offset-md-1.pt-5.pt-sm-0
          = image_tag asset_url('6.jpg'), class: 'img-fluid'
        .col-md-2.col-sm-5.offset-md-1.pt-4.pt-md-0
          = image_tag asset_url('7.jpg'), class: 'img-fluid'
        .col-md-2.col-sm-5.offset-md-1.pt-4.pt-md-0
          = image_tag asset_url('8.jpg'), class: 'img-fluid'
    .carousel-item
      .row.text-center.justify-content-center.mt-5
        .col-md-2.col-sm-5
          = image_tag asset_url('10.jpg'), class: 'img-fluid'
        .col-md-2.col-sm-5.offset-md-1.pt-5.pt-sm-0
          = image_tag asset_url('6.jpg'), class: 'img-fluid'
        .col-md-2.col-sm-5.offset-md-1.pt-4.pt-md-0
          = image_tag asset_url('5.jpg'), class: 'img-fluid'
        .col-md-2.col-sm-5.offset-md-1.pt-4.pt-md-0
          = image_tag asset_url('3.jpg'), class: 'img-fluid'
    .carousel-item
      .row.text-center.justify-content-center.mt-5
        .col-md-2.col-sm-5
          = image_tag asset_url('5.jpg'), class: 'img-fluid'
        .col-md-2.col-sm-5.offset-md-1.pt-5.pt-sm-0
          = image_tag asset_url('6.jpg'), class: 'img-fluid'
        .col-md-2.col-sm-5.offset-md-1.pt-4.pt-md-0
          = image_tag asset_url('7.jpg'), class: 'img-fluid'
        .col-md-2.col-sm-5.offset-md-1.pt-4.pt-md-0
          = image_tag asset_url('8.jpg'), class: 'img-fluid'

  %ol.carousel-indicators
    %li.active{ data: { slide_to: "0", target: "#blogCarousel" } }
    %li{ data: { slide_to: "1", target: "#blogCarousel" } }
    %li{ data: { slide_to: "2", target: "#blogCarousel" } }